[*.cs]

# SA1618: Generic type parameters should be documented
dotnet_diagnostic.SA1618.severity = none

# SA1615: Element return value should be documented
dotnet_diagnostic.SA1615.severity = none

# SA1611: Element parameters should be documented
dotnet_diagnostic.SA1611.severity = none

# SA1515: Single-line comment should be preceded by blank line
dotnet_diagnostic.SA1515.severity = none

# SA1202: Elements should be ordered by access
dotnet_diagnostic.SA1202.severity = none
